.Forecast {
  display: flex;
  flex-direction: column;
  background-color: rgba(0,0,0,0.5);
  color: white;
  min-width: 400px;
  margin: 10px;
  float: left;
  padding-left: 10px;
  border-radius: 5px;
}

h4 {
  text-align: center;
}

.Forecast li {
  padding-right: 40px;
}
